connection-line {
	position: absolute;
	pointer-events: none;
}
connection-line svg {
	display: block;
}
.connection-line-end, .connection-line-start, .connection-line-mark {
	position: absolute;
	line-height: 20px;
	text-align: center;
	min-height: 20px;
	min-width: 20px;
	font-size: 20px;
	cursor: default;
}
.connection-line-end {
	transform-origin: center center;
}
.connection-line-start {
	transform-origin: center center;
}
.connection-line-mark {
}